<html>
<head>
	<title>Peanut Butter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/peanutButter.css">

</head>
<body>

	<div class="container">
	<h1>Peanut Butter Homepage</h1>
	</div>
	<!--Search bar -->
	<div class="container">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
  </div>
	<!--Recent bar-->
  <div class="container">
		<h2>Recent Searches...</h2>
	</div>
	<!--Collapseable menu 1 -->
	<div class="container">
		<h3>Hips Don't Lie - Shakira</h3>
		<h4>Oral Fixation</h4>
		<ul>
			<li><a href="/karaoke">Karaoke</a></li>
			<li><a href="/lyrics">Lyrics</a></li>
			<li><a href="/chords">Chords</a></li>
			<li><a href="/songInfo">Song Information</a></li>
			<li><a href="/favorites">Favorites</a></li>
		</ul>
  </div>
	<!--Collapseable menu 2 -->
	<div class="container">
		<h3>Creep - Radiohead</h3>
		<h4>Pablo Honey</h4>
		<ul>
			<li><a href="/karaoke">Karaoke</a></li>
			<li><a href="/lyrics">Lyrics</a></li>
			<li><a href="/chords">Chords</a></li>
			<li><a href="/songInfo">Song Information</a></li>
			<li><a href="/favorites">Favorites</a></li>
		</ul>
	</div>

  <div class="container">
		<h4>Currently Playing:</h4>
		<p>Smells like Teen Spirit</p>
	</div>
  <div class="container">
  <!-- Navigation bar -->
  	<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="/karaoke">Karaoke</a></li>
			<li><a href="/lyrics">Lyrics</a></li>
			<li><a href="/chords">Chords</a></li>
			<li><a href="/songInfo">Song Information</a></li>
			<li><a href="/favorites">Favorites</a></li>
		</ul>
  </div>
</body>
</html>
