<html>
<head>
	<title>Peanut Butter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/Peanut_Butter.css">

</head>




	<div>
	<h1>Peanut Butter</h1>
	</div>


<body>
<!-- Tab buttons -->
	<div class="tab">
		<button class="tabButtons" onclick="openTab(event, 'songInfo')">Song Information</button>
		<button class="tabButtons" onclick="openTab(event, 'Lyrics')">Lyrics</button>
		<button class="tabButtons" onclick="openTab(event, 'Chords')">Chords</button>
	</div>

</body>
</html>
