<html>
<head>
	<title>Peanut Butter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/peanutButter.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="navLink container" id='homeContent'>
		<!--Search bar -->
		<div class="container">
			<div class="row">
	        <div class="col-sm-6 col-sm-offset-3">
	            <div id="imaginary_container">
	                <div class="input-group stylish-input-group">
	                    <input type="text" class="form-control"  placeholder="Search" >
	                    <span class="input-group-addon">
	                        <button type="submit">
	                            <span class="glyphicon glyphicon-search"></span>
	                        </button>
	                    </span>
	                </div>
	            </div>
	        </div>
		  </div>
	  </div>

		<!--Recent bar-->
	  <div class="container">
					<h2>Recent Searches...</h2>
		</div>
		<!--Beginning of accordion widgets-->
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-menu-right"></span>Hips Don't Lie - Shakira</a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Oral Fixation</strong></p>
		                    <ul>
		              				<li><a href="/karaoke">Karaoke</a></li>
		              				<li><a href="/lyrics">Lyrics</a></li>
		              				<li><a href="/chords">Chords</a></li>
		              				<li><a href="/songInfo">Song Information</a></li>
		              				<li><a href="/favorites">Favorites</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-menu-right"></span>Creep - Radiohead</a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Pablo Honey</strong></p>
		                    <ul>
		                      <li><a href="/karaoke">Karaoke</a></li>
		                      <li><a href="/lyrics">Lyrics</a></li>
		                      <li><a href="/chords">Chords</a></li>
		                      <li><a href="/songInfo">Song Information</a></li>
		                      <li><a href="/favorites">Favorites</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-menu-right"></span>Space Oddity - David Bowie</a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Wild Eyed Boy from Freecloud</strong></p>
		                    <ul>
		                      <li><a href="/karaoke">Karaoke</a></li>
		                      <li><a href="/lyrics">Lyrics</a></li>
		                      <li><a href="/chords">Chords</a></li>
		                      <li><a href="/songInfo">Song Information</a></li>
		                      <li><a href="/favorites">Favorites</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-menu-right"></span>Paper Bag - Fiona Apple</a>
		                </h4>
		            </div>
		            <div id="collapseFour" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><>When the Pawn</strong></p>
		                    <ul>
		                      <li><a href="/karaoke">Karaoke</a></li>
		                      <li><a href="/lyrics">Lyrics</a></li>
		                      <li><a href="/chords">Chords</a></li>
		                      <li><a href="/songInfo">Song Information</a></li>
		                      <li><a href="/favorites">Favorites</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
		    </div>
		</div> <!--End of accordion widgets-->

	</div> <!--End of homepage-->

 	<div class="navLink container" id='karaokeContent' style="display: none;">
		<h1>Karaoke </h1>
		<div class='video-container'>
			<iframe id="videoPlayer"
    		src="https://www.youtube.com/embed/J3_DL0q9oq4" frameborder="0"
    		allow="autoplay; encrypted-media" allowfullscreen>
    	</iframe>
	  </div>
	</div>

	<div class="navLink container" id='lyricsContent' style="display: none;">
		<h1>Lyrics</h1>
		<div id="lyricText" class="bottom-gap">No Song Currently Playing</div>

	</div>
	<div class="navLink container" id='chordsContent' style="display: none;">
		<h3>Chords<h3>
		<pre>
 *** Capo 1st Fret ***
(everything relative to capo)


Ladies up in here tonight
No fighting, no fighting
We got the refugees up in here
No fighting, no fighting
Shakira, Shakira


[Verse]

Am                                 F
I never really knew that she could dance like this
G                       Em
She makes a man want to speak Spanish
F
Como se llama,
G
bonita,
Am
mi casa, su casa
(Shakira, Shakira)

Am                                 F
Oh baby when you talk like that
G                       Em
You make a woman go mad
F
So be wise and keep on
G
Reading the signs of my body

Am                                 F
And I'm on tonight
G                       Em
You know my hips don't lie
F
And I'm starting to feel it's right
G
All the attraction, the tension
Am
Don't you see baby, this is perfection


[Bridge]

Am
Hey Girl, I can see your body moving
Am
And it's driving me crazy
Am
And I didn't have the slightest idea
Am
Until I saw you dancing

Am
And when you walk up on the dance floor
Am
Nobody cannot ignore the way you move
Am
your body, girl
Am
And everything so unexpected - the way
Am
you right and left it
Am
So you can keep on taking it


[Verse 2]

Am                                 F
I never really knew that she could dance like this
G                       Em
She makes a man want to speak Spanish
F
Como se llama,
G
bonita,
Am
mi casa, su casa
(Shakira, Shakira)

Am                                 F
Oh baby when you talk like that
G                       Em
You make a woman go mad
F
So be wise and keep on
G
Reading the signs of my body
</pre>
	</div>
	<div class="navLink container" id='infoContent' style="display: none;">
		<h3>Hips Don't Lie</h3>
		<p>"Hips Don't Lie" is a song by Colombian singer and songwriter Shakira, featuring Haitian rapper Wyclef Jean for the reissue of Shakira's seventh studio album, Oral Fixation, Vol. 2. It was released on 28 February 2006, by Epic Records as the second single from the album. The song was written and produced by Shakira, Jean, Jerry 'Wonder' Duplessis, Raul RAZ Zeballos, and LaTavia Parker. "Hips Don't Lie" is a salsa and worldbeat song, which heavily incorporates samples from Jean's earlier single "Dance Like This" and "Amores Como el Nuestro" written by Omar Alfanno.Upon its release, "Hips Don't Lie" received generally favorable reviews from music critics. It received several accolades, including a People's Choice Award, an MTV Latin America Video Music Award, and an MTV Video Music Award. "Hips Don't Lie" reached the number one spot on charts in at least 55 countries, including the US Billboard Hot 100, becoming Shakira's first number one single in the country. It also broke the record for the most radio plays in a single week and the fastest selling digital download song in the United States. The song was eventually certified Triple platinum by the Recording Industry Association of America (RIAA), where it has sold over 4 million copies. It also topped the charts in Australia, France, Germany, Italy, Netherlands, Switzerland, the United Kingdom, among other countries. It was the best selling single of 2006 and the 2000s. Having sold over 13 million digital downloads,[1] It is the most sold track in the list of the best-selling singles of the 21st century.[2]
		</p>
	</div>
	<div class="navLink container" id='favoriteContent' style="display: none;">
		<h3>Favorites</h3>
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-menu-right"></span>Hips Don't Lie - Shakira</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Oral Fixation</strong></p>
		                    <ul>
		              				<li><a href="/karaoke">Karaoke</a></li>
		              				<li><a href="/lyrics">Lyrics</a></li>
		              				<li><a href="/chords">Chords</a></li>
		              				<li><a href="/songInfo">Song Information</a></li>
		              				<li><a href="/favorites">Favorites</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
				</div>
			</div>
	</div>

	  <!-- Navigation bar -->
  <div class="container">
  	<h4 class="currentlyPlaying">Currently Playing:</h4>
  	<ul class="nav navbar-nav">
			<li><a href="#" data-element="#homeContent">Home</a></li>
			<li><a href="#" data-element="#karaokeContent">Karaoke</a></li>
			<li><a href="#" data-element="#lyricsContent">Lyrics</a></li>
			<li><a href="#" data-element="#chordsContent">Chords</a></li>
			<li><a href="#" data-element="#infoContent">Song Info</a></li>
			<li><a href="#" data-element="#favoriteContent">Favorites</a></li>
		</ul>
  </div>
  <script type="text/javascript" src='/js/peanutButter.js'></script>

</body>
</html>
