body {
  background-image: url("https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e3df374e72a1172cd928719eff2ba25&auto=format&fit=crop&w=1500&q=80") !important;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 10em;
}


.text {
  color: white;
}

.shadow-text {
    text-shadow: 0.05em 0.05em rgba(0,0,0,0.4)
}

#jumboTitle {
  font-weight: normal;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin-top: 1em;
  /*color: #F7D23B !important;*/

}
#jumboDescription {
  text-align: center;
  letter-spacing: 1.5;
  float:right;
  margin-right: 1em;
  /*color: #F7D23B !important;*/
}
#logo {
  height: 4.33em !important;
  width: auto !important;
  margin-top: 0.75em;

}

html {
    font-family: 'Quicksand', sans-serif;
}

.banner {
  background: #3A327B !important;
  background-size: cover !important;
  background-image: url(https://images.unsplash.com/photo-1516889782132-fb580815f8f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ade6ebd4e4be0757eae51758935442a&auto=format&fit=crop&w=800&q=60) !important;
  background-position: center !important;
  background-repeat: no-repeat;
  height: 8.5em;
  border: 0;
}

.currentlyPlaying { 
  background-color: #4C5899 !important;
  margin-left: 0 !important;
  margin-left: 1em;
}

.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

.nav {
    /*background-color: #800000;*/
    background-color: #BEC7D8;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:0 !important;

}

.navElement {
  /*margin-top: 5em !important;*/
  margin-left: 1.3em;
}


.rotate{
-webkit-transform: rotate(90deg);  /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg);  /* Firefox */
  -ms-transform: rotate(90deg);  /* IE 9 */
    transform: rotate(90deg);  /* Standard syntax */
}

/* Style for video player on karaoke page */
/* video container is the class of the iframe for the video*/
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:3em;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.banner img {
    width: 100%;/* you can use % */
    height: auto;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.albumArt {
  /*width: 10%;*/
  width : 100%;

}

#currentlyPlayingText {
  white-space:nowrap;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}



/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

 h1 {
  font-size: 3em;
 }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap:row;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap !important;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 30%;
  margin-top: 10px;

  font-weight: bold;
  text-align: center;

  flex: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.songInfo {
  height: 0%;
  overflow: hidden;
}

.songInfoPanel {
  padding: 10px;
}

.flex-selected .songInfo {
  height: inherit;
}

.flex-selected {
  width: 90%;
}

#bottomBar {
  padding-top:.5em;
  padding-bottom: .5em;
}


